h3{
    background-color: coral;
    color: black;
    font-family:fantasy;
}



   #Snapshot{
     background-color: deeppink;
     color: black;
     font-family: fantasy;
     font-size: 20px;
   }

   canvas{
     border: 5px;
     animation-duration: 3s;
     animation-name: example;
     animation-iteration-count: infinite;
   }

   @keyframes example{
       from{box-shadow: (1px 1px 30px  white)};
       to{box-shadow: (1px 1px 30px  black)};
   }